fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-dotenv
pydantic
pydantic-settings
email-validator
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.0,<5.0.0
redis
httpx
google-genai
python-jose[cryptography]
python-multipart